

.sidebar_container{
    margin: 2rem auto;
    max-width: 250px;
    padding: 2em;
    /* height: 200px; */
    height: fit-content;
    /* background-color: brown; */
    /* height: 100vh; */
    /* font-size: 10px; */
    border: 2px solid rgb(52, 52, 52);
    background-color: rgb(38, 37, 34);
    border-radius: 15px;
    /* height: 100vh; */
}

.sidebar{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* top: 20%; */
    /* left: 0; */
    /* flex-grow: 2; */
    /* height: 700px; */

    /* padding: 10em auto; */
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex:0.3;
    /* flex-shrink: 20%; */
    
    
}



.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.myimg{
    /* background-color: yellow; */
    /* box-shadow: 2px 2px 10px rgba(60, 59, 59, 0.653); */
    width: fit-content;
    /* height: 100%; */
    /* width: 100%; */

    /* border-radius: 20px; */
}

.heading h1{
    margin: 2rem auto;
    font-size: 3rem;
    color: white;
}

.heading span{
    margin: 2rem auto;
    background-color:rgb(52, 52, 52);
    color: white;
    padding: 1em 3em;
    font-size: 1.5rem;
    border-radius: 12px;
}


.sidebar hr{
   margin: 0rem auto;
   width: 20rem;
   align-self: center;


}

.sidebar .items{
    padding: 3em auto;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-items: center;
    justify-content: space-between;
}



.contains{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.2;
}


.item .content{
    /* padding: 6em auto; */
    display: flex;
    flex-direction: column;
    margin-left:1rem;
    color: white;
    font-size: 2rem;
    

}

.content span{
    color: rgb(119, 119, 119);
    margin-left: 2rem;
}


.items .logo{
    flex: 0.3;
    padding: 1em;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: white;

}

.items .contain{
    
    padding: 2em 0em;
    flex:0.5;
    margin-right: 1rem;
}

.contain span{
    color: rgb(161, 161, 161);
}

.contain h3{
    font-size: 1.5rem;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between;
    color: rgb(162, 162, 162);
    
}

.footer div{
    margin: auto 1rem;
}

.logo div{
    /* background-color: aqua; */
    /* width: 50px; */
    border-radius: 10px;
    background-color: rgb(54, 52, 52);
    height: 40px;
    margin-left:  4rem;
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-items: center;
    

}




@media screen and (max-width: 1250px) {
    .sidebar {
      flex-direction: row;
      flex: 0.01;
      max-width: 80rem;
      width: 100%;
      margin:  2rem auto;
      /* width: 90%; */
      
    }

    .sidebar hr{
        display: none;
    }

    .heading .image{
        display: none;
    }

    .sidebar .items{
        display: none;
    }

    .sidebar .footer{
        display: none;
    }


  }
@media screen and (max-width: 1024px) {
    .sidebar {
      flex-direction: row;
      flex: 0.01;
      max-width: 60rem;
      width: 100%;
      margin:  4rem auto;
      /* width: 90%; */
      
    }



    .sidebar span strong{
        font-size: 0.5rem;
    }
    .sidebar hr{
        display: none;
    }

    .heading .image{
        display: none;
    }

    .sidebar .items{
        display: none;
    }

    .sidebar .footer{
        display: none;
    }


  }
@media screen and (max-width: 770px) {
    .sidebar {
      flex-direction: row;
      flex: 0.01;
      max-width: 40rem;
      width: 100%;
      margin:  6rem auto;
      /* width: 90%; */
      
    }



    .sidebar span strong{
        font-size: 0.5rem;
    }
    .sidebar hr{
        display: none;
    }

    .heading .image{
        display: none;
    }

    .sidebar .items{
        display: none;
    }

    .sidebar .footer{
        display: none;
    }


  }







