.home{
    display: flex;
    background-color: rgb(42, 42, 42);
    justify-content: space-evenly;
    /* padding: 12em; */
    padding: 4em;
    margin:  0 auto;
    position: relative;
    transition: all 200ms ease-in-out;

}

.home .toggle{
        flex:0.01;
     background-color:white ;
      position:absolute ;
      top:2%;
      left:20%;
      padding:0.5em 1em;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius:20px;
      transition: all 200ms ease-in-out;
}

.home .toggle:hover{
    background-color: rgb(248, 255, 124);
    color: rgb(0, 0, 0);
}
.home .toggle:active{
    color: white;
    background-color: rgb(238, 255, 0);
}

.toggle .open{
    top:5.5%;
    /* position: ap; */
    left:50%;
}
.toggle .close{
    /* right: 10%; */
}


@media screen and (max-width: 1250px) {
    .home {
      flex-direction: column;
      padding: 0.2em;
      justify-content: space-between;
      /* padding: 2rem; */
      
    
      
    }

    
  }



  @media screen and (max-width: 1024px) {
    .home {
      flex-direction: column;
      padding: 0.5em;
      justify-content: space-between;
      /* padding: 5rem; */
      
    
      
    }

    
  }
  @media screen and (max-width: 769px) {
    .home {
      flex-direction: column;
      width: 100%;
      /* padding: -5em; */
      /* padding: none; */
      justify-content: space-between;
      padding: 0rem;
      
    
      
    }

    
  }







.hero {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 24px;
}

