.main{
    background-color: rgb(38, 37, 34);
    border: 2px solid rgb(52, 52, 52);
    border-radius: 12px;
    flex: 1;
    margin:  auto 4rem;
    /* max-width: 1200px; */
    min-height: 100vh;
    position: relative;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    
}



@media screen and (max-width: 1250px) {
    .main {
      min-height: 100vh;
      padding: 2rem;
      
    }

    
  }

  @media screen and (max-width: 1024px) {
    .main {
      /* max-width: 100; */
      min-height: 100vh;
      max-width: 1024px;
      padding: 1rem;
      
    }
    
    
  }
  
  
@media screen and (max-width: 769px) {
    .main {
      padding: 0;
      /* padding: 0.2rem; */
      
    
      
    }
  }

    