.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .description{
    color: rgb(180, 180, 180);
    font-size: 2rem;
    padding: 1em;
    margin-bottom: 1rem;
  }
  
  .vlogType {
    font-weight: 900;
    color: yellow;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .image {
    width: 100%;
    padding: 2em;
    max-width: 700px;
    margin-top: 1rem;
  }
  


  @media screen and (max-width: 769px) {

      .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .description{
    color: rgb(180, 180, 180);
    font-size: 1.5rem;
    padding: 1em;
    margin-bottom: 1rem;
  }
  
}

