@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600&family=Lato:wght@300&display=swap');
html{
  font-size: 10px;
  font-family: 'Cabin Condensed', sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



::-moz-selection { 
  color: black;
  background: rgb(255, 255, 99);
}

::selection {
  color: black;
  background: rgb(255, 255, 114);
}



html p{
  font-family: 'Lato', sans-serif;
}